﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebPage2.aspx.cs" Inherits="Sol_CrossPostback.WebPage2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <p>
            <asp:Label ID="lblName" runat="server"></asp:Label>
        </p>

        <p>
            <asp:Label ID="lblName1" runat="server"></asp:Label>
        </p>

        <p>
            <asp:Label ID="lblName2" runat="server"></asp:Label>
        </p>

        <p>
            <asp:Label ID="lblName3" runat="server"></asp:Label>
        </p>

        <p>
            <asp:Label ID="lblName4" runat="server"></asp:Label>
        </p>
       
        
        
        
        
    
    </div>
    </form>
</body>
</html>
